version: '3.9'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "StrongPassw0rd!"
      ACCEPT_EULA: "Y"
    ports:
      - "1435:1433"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'StrongPassw0rd!' -C -Q 'SELECT 1' || exit 1"]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 40s

  webapi:
    build: . #tự động build file Dockerfile trong cùng thư mục
    container_name: demoapi-webapi
    depends_on:
      sqlserver:
        condition: service_healthy
    ports:
      - "5050:5050"
    environment:
      - ASPNETCORE_URLS=http://+:5050
      - ASPNETCORE_ENVIRONMENT=Development     
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=DemoDb;User Id=sa;Password=StrongPassw0rd!;TrustServerCertificate=True
    restart: always
